$color-one:#004860;
$color-two:#3090A8;
$color-three:#003048;
$color-active:#90A8C0;


body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Navbar */
.navbar-inverse {
  background-color:$color-three;
}
.navbar-inverse .navbar-brand {
  color:#FFF;
}

/* Buttons */
.btn-primary {
  background-color:$color-one;
  border-color:$color-two;
}
.btn-primary:hover, .btn-primary:focus {
  background-color:$color-active;
}

/* Presentation */
.presentation {
  background:url('../img/background.jpg') center center no-repeat;
  color:#FFF;
  padding:100px 0;
  margin-bottom:0;
}
.presentation .presentation-title {
  text-align:center;
}
.presentation .presentation-cta {
  text-align:center;
}

/* Features */
.features {
  border-top:10px solid $color-two;
  color:$color-three;
  background: linear-gradient( to bottom, $color-two, #FFF);
}
.features .feature-highlight .feature-title {
  font-weight:bold;
  text-decoration:underline;
}

/* Footer */
footer {
  text-align:center;
}
